# Python Basics I

The basics of Python are not difficult to understand, but they should be practiced so that their use becomes second nature.
If you get an error message, don't worry. This is normal and happens to everyone. The error message is there to help you understand what went wrong. So read it carefully and try to understand what it is telling you.

The `print()` command can be used to output things. Try printing out the sentence "History is cool". To do this, simply enter your code in the free field below. You can then execute the code using the run symbol in the taskbar at the top.

In [13]:
print("History is cool")

History is cool

You should now see the sentence executed. However, you usually work with variables. These store data in themselves and serve as small boxes for them. You can store data in the box and retrieve it later or simply overwrite the data. 


This is how you save a variable:

In [14]:
my_number = 5
name = "Sara"

Overwrite the above variables with new values. Print them!

In [15]:
my_number = 7
name = "Taylor"
print(my_number)
print(name)

7
Taylor

Now that you know the absolute basics, let's get straight to the exercises!

## Data Types

Data Types are a category of a value, every value belongs to exactly one data type

**Simple data types are:**
- ints e.g. `1`
- floats e.g. `1.3`
- strings e.g. `'This is a string'`
- boolean e.g. `True` or `False`

 ### Operators Cheat Sheet

| Operator | Operation                         | Example   | Result |
| -------- | --------------------------------- | --------- | ------ |
| +        | Addition                          | `2 + 2`   | `4`    |
| -        | Substraction                      | `5 - 2`   | `3`    |
| *        | Multiplication                    | `5 * 2`   | `10`   |
| /        | Division                          | `14 / 4`  | `3.5`  |
| //       | Integer division/floored quotient | `14 // 4` | `3`    |
| %        | Modulus                           | `25 % 7`  | `4`    |
| **       | Exponent                          | `2 ** 4`  | `16`   |

a) What is the result of 23.987 multiplicated by 7. Which data type is it? Think about it and then print the type of the result with the `type()` function.

In [16]:
result = 23.987 * 7
print(result)
type(result)

167.909

float

b) You have the following python code. What will be the output? Try to think about it before you run the code.

In [17]:
food = "pizza"
print(food)
print("food")

pizza
food

What is the difference between `food` and `"food"`? Type your answer in the free field below.

c) You can add strings together with using the `+` operator. Try it out and print "Python" and "Python" together.

In [18]:
print("Python" + "Python")

PythonPython

d) You can also multiply strings with a number. Try it out and print "Python" three times.

In [19]:
print("Python" * 3)

PythonPythonPython

## Built-in functions in Python

In Python you have many build-in functions which you can use without installing additional modules and tools. These functions can therefore always be used and are functions that are used particularly frequently and across the board. You can find an overview [here](https://docs.python.org/3/library/functions.html).

Let's go through the most important ones:
a) **print()**: prints the specified message to the console.
Use it by providing a string or multiple values separated by commas or with a `+` sign. 
Try it out with printing "Hello World!".

In [20]:
print("Hello World!")

Hello World!

Here are some more possibilities:

```python
print("The answer is", 42)  # Prints the concatenated string "The answer is 42"
print("Python", "is", "fun")  # Prints multiple values separated by spaces
print("One", "Two", "Three", sep="-")  # Prints values separated by a custom separator ("-")
```

b) **input()**: reads a line from input and returns it as a string. In the jupyter notebook a dialog will appear on the top of the page where you can enter your input. In a normal python script you can enter your input in the console.
You can use it like this:

```python
your_input = input("Where do you live? ")
print("You live in", your_input)
```

Try it out and ask for the user's name. Then print "Hello " + the name.

In [21]:
user_name = input("What is your name? ")
print("Hello " + user_name + "!")

What is your name?  Taylor

Hello Taylor!

c) **len()**: returns the length of an object (e.g., string, list, etc.).
You can use it like this:

```python
print(len("Python"))  # Prints the length of the string "Python"
```
Try it out and print the length of the string "Python is powerful".

In [22]:
string_length = len("Python is powerful")
print(string_length)

18

Will the following code work? Why or why not? Try to think about it before you run the code.

In [23]:
print("My number is " + 5)

TypeError: can only concatenate str (not "int") to str

d) **str()**: converts an object into a string. 
In the example above, the code tried to add a string and an integer. This will not work. But you can convert the integer into a string with the `str()` function.
Use it like this:

```python
number = 42
number_str = str(number)
```

Try it out:
- Store any number in the variable `number`
- There is a second variable `number_str`. Convert `number` into a string with `str()` and store it in `number_str`
- Print your result!

In [ ]:
number = 10
number_str = str(number)
print("My number is " + number_str)

e) **int()**: converts a string or a float to an integer.
This works the same way as `str()`. Use it like this:

```python
number_str = "42"
number = int(number_str)
```
Try it out:
- Store any number in the variable `number_str` as a string
- There is a second variable `number`. Convert `number_str` into an integer with `int()` and store it in `number`
- Print your result!

In [ ]:
number_str = "10"
number = int(number_str)
print(number + 5)

f) **float()**: converts a string or an integer to a float.
This works the same way as `str()` and `int()`. Use it like this:

```python
number_str = "42"
number = float(number_str)
```
Try it out:
- Store any number in the variable `number_str` as a string. It can be something like "42" or "42.13"
- There is a second variable `number`. Convert `number_str` into a float with `float()` and store it in `number`
- Print your result!

In [ ]:
number_str = "10"
number = float(number_str)
print(number)

## Lists and tuples

Lists and tuples can contain multiple values, even multiple lists. You can store a list in a variable and use them like normal variables for the most part.

Lists look like this:

```python
animals = ["cat", "bat", "rat", "elephant"]

we_are_numbers = [1,3,4]
```

There are countless ways to work with lists. Let's work through some of them. 

a) You can access items of a list via its index like `your_list[i]`. Print the item with index `[1]` of the list numbers

In [ ]:
numbers = [1,4,7]
number = numbers[1]
print(number)

b) Remember that you start counting at 0. So the first item has the index 0. The second item has the index 1 and so on. Which index does the item "rat" have, if "cat" has index 0? Print rat with its index.

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
print(animals[2])

c) You can use the index also backwards with negative numbers. The last item has the index -1, the second to last item has the index -2 and so on. Print the last item of the list `animals`.

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
print(animals[-1])

d) You can work with single items of a list as you would with a normal variable. Print the sentence below with an animal of your choice.

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
print("I like the " + animals[0])

e) You can slice parts of the list with `your_list[first index:last index(not inclusive)]`. With not inclusive it means that the item with the last index will not be included.
Use it like this:

```python
food = ["pizza", "burger", "pasta", "salad"]
print(food[1:3])  # Prints the items with index 1 and 2, so ["burger", "pasta"]
```

Print the first two items of the list `animals`.
**Note:** You don't change the value of the list with slicing. For this you need to store the sliced list in a variable.

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
sliced_animals = animals[1:3]
print(sliced_animals)

f) There are different ways to slice lists: `list[1:2], list[:2], list[2:], list[-2:-4]`. Play around with these options a little.

In [ ]:
animals = ["cat", "bat", "rat", "elephant", "dog", "mouse"]
sliced_animals = animals[:3]
# sliced_animals = animals[2:]
# sliced_animals = animals[-2:-4]
print(sliced_animals)

g) You can get the length of a list with `len(your_list)`. How long are our example lists? Print both lengths.

In [ ]:
animals = ["cat", "bat", "rat", "elephant", "dog", "mouse"]
numbers = [3,1,4,12,2]

length_animals = len(animals)
length_numbers = len(numbers)

print(length_animals)
print(length_numbers)

h) If you want to change a single value of a list, you can overwrite it with your_list[index] = "new value". Overwrite "elephant" (index 3) with "cow".

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
animals[3] = "cow"
print(animals)

i) Add our two lists together and store it in the variable animals_and_numbers. To add a two lists together you can use the `+` operator:
```python	
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = list_1 + list_2
```
Print the new list.

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
numbers = [3,1,4,12,2]
animals_and_numbers = animals + numbers
print(animals_and_numbers)

j) If you want to append an item to the end of the list, you can use .append(), like this:
```python	
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
```
Append "dog" to animals.

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
animals.append("dog")
print(animals)

k) You can remove items with the remove function: .remove("item"). The first one which matches, will be removed. Use it like this:
```python
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
```
Remove "rat" from animals.

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
animals.remove("rat")
print(animals)

l) To filter out the value of a specific index, use pop: list.pop(1). This won't change the list, for this you need to store it in a variable. Use it like this:
```python
fruits = ["apple", "banana", "cherry"]
one_fruit = fruits.pop(1)
```
Pop the second item of numbers.

In [ ]:
numbers = [3,1,4,12,2]
my_number = numbers.pop(1)
print(my_number)

m) If you want to delete an item of a list, use the del keyword: `del list[index]`. Use it like this:
```python
fruits = ["apple", "banana", "cherry"]
del fruits[1]
```

Delete the second value of the numbers list

In [ ]:
numbers = [3,1,4,12,2]
del numbers[1]
print(numbers)

n) To clear a whole list, you can use the clear function: `.clear()`. Use it like this:
```python
fruits = ["apple", "banana", "cherry"]
fruits.clear()
```
Try it with the numbers list.

In [ ]:
numbers = [3,1,4,12,2]
numbers.clear()

o) To reverse the items of a list, use the `.reverse()` function. This will put the first item to the end and so on. Use it like this:
```python
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)  # Prints ["cherry", "banana", "apple"]
```
Try it with the animals list.

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
animals.reverse()
print(animals)

p) If you want to find an index of a specific element, use the `.index()` function. Use it like this:
```python
fruits = ["apple", "banana", "cherry"]
print(fruits.index("banana"))  # Prints 1
```
Which index has "cat" in animals?

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
index_of_cat = animals.index("cat")
print(index_of_cat)

q) If you don't want to add an item at the end of a list with append, you can also insert it to a specific index with the .insert() function. Use it like this:
```python
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "orange")
print(fruits)  # Prints ["apple", "orange", "banana", "cherry"]
``` 
Insert mouse at the index 3

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
animals.insert(3, "mouse")
print(animals)

r) You can sort your lists with same data types in it with the `.sort()` function. Use it like this:
```python
fruits = ["banana", "apple", "cherry"]
fruits.sort()
print(fruits)  # Prints ["apple", "banana", "cherry"]
```
The list fruits_with_numbers would throw an error, because it contains different data types:
```python
fruits_with_numbers = ["banana", "apple", 3, 2, 1, "cherry"]
fruits_with_numbers.sort()
# Error: TypeError: '<' not supported between instances of 'int' and 'str'
```
Sort both lists and print the result.

In [ ]:
animals = ["cat", "bat", "rat", "elephant"]
numbers = [3,1,4,12,2]

animals.sort()
print(animals)

numbers.sort()
print(numbers)

s) Sort the weekdays list. What do you notice?

In [ ]:
weekdays = ["Monday", "tuesday", "Wednesday", "thursday", "Friday"]
weekdays.sort()
print(weekdays)

t) The list `weekdays` is not sorted in the way you would expect. This is because the sort function is case sensitive. To sort it correctly, you can use the `key` parameter of the sort function. Use it like this:
```python
names = ["Max", "anna", "Erik"]
names.sort(key=str.lower)
print(names)  # Prints ["anna", "Erik", "Max"]
```
Sort the weekdays list again and print the result.

In [ ]:
weekdays = ["Monday", "tuesday", "Wednesday", "thursday", "Friday"]

### Tuples

Tuples are almost identical to lists, but written with paratheses instead of square brackets and they are *immutable*. So you can't modify, append and remove their values. Good to use, if the values should exactly stay as they are.
A tuple looks like this:

```python
fruits = ("apple", "banana", "cherry")
```

a) Create a tuple with the items of animals. Then try to change the item with index 1 to "dog". Does it work?

In [ ]:
animals = ("cat", "bat", "rat", "elephant")
#animals[1] = "dog"

## Dictionaries

Dictionaries are kind of an advanced list. Dictionaries are always written as key-value pairs in curly brackets, like `{"location": "Bielefeld"}`. In addition to lists, individual elements can be accessed directly via their key: `workshop = {"location": "Bielefeld", "weather":"good", "topic": "python"}`, `workshop["topic"]` would return "python". Dictionaries are mutable, but most of the functions for lists does not work for dictionaries. They are more likely to be used to store larger nested data volumes and therefore have a few functions of their own.

a) 
- Create a dictionary. 
- Store it in the variable myDay. 
- It should have the **keys** "weekday", "weather" and "plans".
- The keys should each have the **values** "monday", "good" and "workshop"
- Now print value of "weather".

In [ ]:
myDay = {"weekday": "monday", "weather": "good", "plans": "workshop"}
print(myDay["weather"])

b) To access the keys, use the .keys()-function. 
You can use it like this:
```python
workshop = {"location": "Bielefeld", "weather":"good", "topic": "python"}
print(workshop.keys())
```

Try it with your myDay-Dictionary.

In [ ]:
myDay = {"weekday": "monday", "weather": "good", "plans": "workshop"}
print(myDay.keys())

c) You can also access the values with the .values()-function. The usage is similar to the .keys()-function.
Try it with your myDay-Dictionary.

In [ ]:
myDay = {"weekday": "monday", "weather": "good", "plans": "workshop"}
print(myDay.values())

d) You can also access both keys and values at the same time with the .items()-function. The usage is similar to the .keys()-function. It returns a list of tuples, where each tuple contains a key-value pair. Try it with your myDay-Dictionary.

In [ ]:
myDay = {"weekday": "monday", "weather": "good", "plans": "workshop"}
print(myDay.items())

e) To check, if a key or value exist in a dictionary, you can use the "in" keyword. 

Use it like this:

```python
workshop = {"location": "Bielefeld", "weather":"good", "topic": "python"}
print("weather" in workshop.keys()) # returns True
print("date" in workshop.keys()) # returns False
```

Try it with your myDay-Dictionary:
- Check if "weather" is a **key** in myDay
- Check if "rain" is a **value** in myDay

In [ ]:
myDay = {"weekday": "monday", "weather": "good", "plans": "workshop"}
print("weather" in myDay.keys())
print("rain" in myDay.values())